<div class="container main-container">
    <h3>Interpolation</h3>

    <!-- <p>O numero de cliques é: {{ contadorClique }}</p> -->

    <p [ngClass]="{
        'text-secondary':contadorClique < 3,
        'text-success':contadorClique >= 3,
        'text-warning':contadorClique >= 5,
        'text-danger':contadorClique >= 9
      }">O número de cliques é: {{ contadorClique }}</p>


    <br>
    <br>

    <h3>Property Binding</h3>

    <button class="btn btn-info" [disabled]="contadorClique >= 10">Click</button><br><br>
    <img [src]="urlImagem" height="50px" width="50px" />

    <br>
    <br>
    <br>
    <br>

    <h3>Event Binding</h3>
    <button class="btn btn-warning" (click)="adicionarClique()">Clique-me</button>
    <button class="btn btn-danger" (click)="zerarContator()" [disabled]="contadorClique < 10">Zerar Contator</button><br><br>

    <br>
    <br>
    <br>
    <br>

    
    <h3>Two-way Binding</h3>

    <!-- <input type="text" (keyup)="keyUp($event)" placeholder="Digite o seu nome">
    <br>
    <br>
    <label>Seu nome e: {{ nome }}</label> -->

    <!-- <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" placeholder="Digite o seu nome">
    <br>
    <br>
    <label>Seu nome e: {{ nome }}</label> -->

    <input type="text" [(ngModel)]="nome" placeholder="Digite o seu nome">
    <br>
    <br>
    <label [ngClass] = "nome"> Seu nome e: {{ nome }}</label>

</div>